#main {
    background-color: aquamarine;
}
.page-title {
    text-align: center;
    font-size: 50px;
    padding: 20px;
    margin: 0 auto;
    
}
.directory {
    width: 960px;
    margin: 0 auto;
    border: 2px solid black;
}
ul {
    list-style: none;
}
ul li {
    margin-top: 25px;
    margin-right: 50px;
    max-width: 1000px;
}
a{
    text-decoration: none;
    font-size: 2em;
    font-weight: bold;
    color: black;
    padding: 10px;
}
.directory a:hover {
    color: red;
}
.notes a:hover {
    color: red;
}
.notes, .week-title {
    margin-left: 15px;
}
.rotate {
    margin-top: 5rem;
    transform: rotate(10deg)
}
.skew {
    transform: skew(15deg, 4deg);

}
.animate {
    animation: slide-right ease 2s;
}
.video {
    width: 200px;
}
@keyframes slide-right {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(50rem);
    }
}
